<div class="container mt-5">
  <h1>User Profile</h1>

  <img src="{{user.img}}" alt="Profile Image" class="img-fluid mb-3" />

  <p><strong>Username:</strong> {{user.username}}</p>
  <p><strong>Email:</strong> {{user.email}}</p>

  <a href="/user/profile-update" class="btn btn-primary">Edit Profile</a>
  </div>