<form action="/potatoes/newpotato" method="POST" enctype="multipart/form-data">
  <label for="img">Patata image</label>
  <input type="file" name="img" accept="image/*" />
  
  <br />
  
  <label for="name">Patata name</label>
  <input type="text" name="name" />

  <br />
  <label for="origin">Origin</label>
  <input type="text" name="origin" />
  <br />

  <label for="details">Details</label>
<textarea name="details" cols="30" rows="10"></textarea>
  <br />

    {{log userId}}
    <input type="hidden" name="owner" value="{{userId}}" />

    <button type="submit">Add patata</button>
  </form>
</div>