<div class="container mt-5">
  <h1>Add a New Potato</h1>
  <form
    action="/potatoes/new-potato"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label for="img" class="form-label">Patata Image</label>
      <input type="file" class="form-control" name="img" accept="image/*" />
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">Patata Name</label>
      <input type="text" class="form-control" name="name" />
    </div>

    <div class="mb-3">
      <label for="origin" class="form-label">Origin</label>
      <input type="text" class="form-control" name="origin" />
    </div>

    <div class="mb-3">
      <label for="details" class="form-label">Details</label>
      <textarea class="form-control" name="details" rows="6"></textarea>
    </div>

    <input type="hidden" name="owner" value="{{userId}}" />

    <button type="submit" class="btn btn-primary">Add Potato</button>
  </form>
  </div>