<div class="mb-3">
        <label for="img" class="form-label">Patata Image</label>
        <input type="file" class="form-control" name="img" accept="image/*" />
        <img src="{{potato.img}}" alt="Current Image" width="400px" class="mt-2" />
      </div>
      
      <div class="mb-3">
        <label for="name" class="form-label">Patata Name</label>
        <input type="text" class="form-control" value="{{potato.name}}" name="name" />
      </div>

      <div class="mb-3">
        <label for="origin" class="form-label">Origin</label>
        <input type="text" class="form-control" value="{{potato.origin}}" name="origin" />
      </div>

      <div class="mb-3">
        <label for="details" class="form-label">Details</label>
        <textarea class="form-control" name="details" required rows="6">{{potato.details}}</textarea>
      </div>

      <button type="submit" class="btn btn-primary">Edit Potato</button>
    </form>
</div>