<div class="container mt-5">
  <h1>Add Recipe</h1>
  <form
    action="/recipes/new-recipe"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label for="img" class="form-label">Recipe Image</label>
      <input type="file" class="form-control" name="img" accept="image/*" />
    </div>

    <div class="mb-3">
      <label for="title" class="form-label">Recipe Title</label>
      <input type="text" class="form-control" name="title" />
    </div>

    <div class="mb-3">
      <label for="time" class="form-label">Time</label>
      <input type="text" class="form-control" name="time" />
    </div>

    <div class="mb-3">
      <label for="ingredients" class="form-label">Ingredients</label>
      <input type="text" class="form-control" name="ingredients" />
    </div>

    <div class="mb-3">
      <label for="potatoes" class="form-label">Best Potatoes for this Recipe:</label>
      <br />
      {{#each this.allPotatoes}}
        <label class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="potatoes[]"
            value="{{this._id}}"
          />
          {{this.name}}
        </label>
        <br />
      {{/each}}
    </div>

    <div class="mb-3">
      <label for="instructions" class="form-label">Instructions</label>
      <textarea class="form-control" name="instructions" rows="6"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Add Recipe</button>
  </form>
</div>
