<h1>Check Recipes</h1>
<ul class="recipe-list">
  {{#each recipes}}
    <li class="recipe-card">
      <a href="/recipes/{{this._id}}/details" class="card-link">
        <div class="card-content">
          <img  width="400px" src="{{this.img}}" alt="{{this.title}} Image">
          <h2>
            {{this.title}}
              <form action="/addOrRemoveFavoriteRecipe/:recipeId" method="POST">
               <button>&#10084;</button>
              </form>
          </h2>
        </div>
      </a>
    </li>
  {{/each}}
</ul>